In [16]:
import json
import yaml
import os
import sys
import re
import pyperclip
import importlib
import mobilize_import as mi
mi = importlib.reload(mi)

### Basic example

In [2]:
# Create importer
# Any keyword arguments are added to 'params', with ids and table_name being mandatory
importer = mi.create_importer(job_id_in = [''],
                          importer_type = 'watf',
                                           table_name="waterfall.t20200205_FLD_CA_538_bulkdvc",
                                           exclusions=['waterfall.t20200205_535_fld_pst_barnstorms','waterfall.t20200204_fld_ca_525_oxnard_biling_canvass','waterfall.t20200204_550_fld_ca_bulkbarnstorms'
,'waterfall.t20200204_552_union_members_barnstorm','waterfall.t20200204_549_ca_greennewdeal_barnstorm','waterfall.t20200205_oos_nv_455_oos','waterfall.t20200205_fld_mixed_496_500_501_502_debate','waterfall.t20200204_528_fld_tamale'
,'waterfall.t20200204_538_fld_pst_dvc','waterfall.t20200205_FLD_CA_548_canvasslaunch','waterfall.t20200205_538_fld_pst_dvc','waterfall.t20200204_526_fld_baile'])

In [4]:
#Copy to clipboard
# Semicolon is to silence output
importer.full_query(copy=True);

### BULK EXAMPLE 


(uses waterfall.job_bulk_requests instead of waterfall.job_requests) 

Be careful about combos - this has no combos

In [ ]:
# Create importer
# Any keyword arguments are added to 'params', with ids and table_name being mandatory
importer = mi.create_importer(job_id_in = ['538'],
                           ## use importer_type = bulk
                          importer_type = 'bulk',
                                           table_name="waterfall.t20200205_FLD_CA_538_bulkdvc",
                                           exclusions=['waterfall.t20200205_535_fld_pst_barnstorms','waterfall.t20200204_fld_ca_525_oxnard_biling_canvass','waterfall.t20200204_550_fld_ca_bulkbarnstorms'
,'waterfall.t20200204_552_union_members_barnstorm','waterfall.t20200204_549_ca_greennewdeal_barnstorm','waterfall.t20200205_oos_nv_455_oos','waterfall.t20200205_fld_mixed_496_500_501_502_debate','waterfall.t20200204_528_fld_tamale'
,'waterfall.t20200204_538_fld_pst_dvc','waterfall.t20200205_FLD_CA_548_canvasslaunch','waterfall.t20200205_538_fld_pst_dvc','waterfall.t20200204_526_fld_baile'])

In [ ]:
#Copy to clipboard
importer.full_query(copy=True);

### More complex example (many ids)

In [ ]:
long='''https://www.mobilize.us/sandersnv/event/148063/  
https://www.mobilize.us/sandersnv/event/139859/ https://www.mobilize.us/sandersnv/event/141562/'''
ids = mi.parse_multi_mobilize(long)
','.join(ids)

In [ ]:
importer = mi.create_importer(ids=ids, 
                                           table_name="waterfall.text_20191107_nv_caucus101",
                                           distance=20,
                                           capacity_override=25,
                                           exclusions=['waterfall.text_pull_110619_hbcu'])

In [ ]:
importer.full_query(copy=True);

### String substitution example:

In [49]:
importer = mi.create_importer(ids=ids, 
                           table_name="waterfall.text_20191111_botb_OH_153668",
                           distance=10,
                           capacity_override=10,
                           exclusions=['text_20191109_botb_in_148847',
                                       'text_20191109_botb_in_153736'],
                           importer_type='botb',
                           string_replacements=[
                               ('core_table_builds.mobilize_event_ids', 'bernie_tmcmanus.event_xwalk')
                               ('other thing', 'other thing to replace')
                           ])

NameError: name 'ids' is not defined

## Statewide pulls

In [36]:
#### Importer for statewide / nationwide pullss 
importer = mi.create_importer(table_name='waterfall.t20200129_559_fld_NV_DVC',
                                campaign_id_in='31,35,37',
                                job_id = 559, #This is for job_tables
                                date_abs = ['20200208','20200209'],
                           ## must be state abbreviations with single quotes in them, as in "'NV'"
                                state_in = ["'NV'"],
                                exclusions=[],
                                distance=15,
                                capacity=30,
                                importer_type='base'
                           )

In [ ]:
importer.full_query(copy=True);

### Bulk Constituency example

'constituency_view' must be equal to a view, with schema name attached -- i.e. waterfall.vw_apia; with 
columns 
* external_id
* firstname 
* lastname
* phone (10 digits, no +1 appended)
* zip
* state

In [22]:
# Create importer
# Any keyword arguments are added to 'params', with ids and table_name being mandatory
importer = mi.create_importer(job_id_in = ['493'],
                          importer_type = 'bulk_constituency',
                                           table_name="waterfall.t20200205_493_fld_MN_unidoskickoff",
                                           exclusions=[''],
                                           constituency_view = 'waterfall.vw_unidos')

In [23]:
importer.full_query(copy=True);

### Constituency example

Similar to bulk constituency, but based on the waterfall rather than the bulk waterfall pull.

'constituency_view' must be equal to a view, with schema name attached -- i.e. waterfall.vw_apia; with 
columns 
* external_id
* firstname 
* lastname
* phone (10 digits, no +1 appended)
* zip
* state

In [24]:
# Create importer
# Any keyword arguments are added to 'params', with ids and table_name being mandatory
importer = mi.create_importer(job_id_in = ['493'],
                          importer_type = 'constituency',
                                           table_name="waterfall.t20200205_493_fld_MN_unidoskickoff",
                                           exclusions=[],
                                           constituency_view = 'waterfall.vw_unidos')

In [25]:
importer.full_query(copy=True);

### FOIA data

This is used specifically for student data by schools.

Pass in a list of lists as a parameter `rows`, corresponding to (mobilize_id, institution_name) tuples.  Note that `institution_name` must exactly match the instition name in the `student_data` schema.

In [18]:
importer = mi.create_importer(
                          ids = [249101,249071],
                          job_id=884,
                          importer_type='foia',
                          table_name = 'waterfall.t20200303_884_fld_MI_student_gotv',
                          rows = [
                              (249101, "'Michigan State University'"),
                              (249071, "'Michigan State University'")
                          ],
    
                          )
importer.full_query(True);